.header
  %h1 Dave Thompson
  %p.sub Software developer
.row.centered
  .column.small.sm
    %a{ href: "https://twitter.com/davethompson85", target: "_blank" }
      %img{ src: "images/twitter.png" }
  .column.small.sm
    %a{ href: "http://blog.dave-thompson.co.uk", target: "_blank" }
      %img{ src: "images/blog.png" }
  .column.small.sm
    %a{ href: "https://www.linkedin.com/in/davethompson85", target: "_blank" }
      %img{ src: "images/linkedin.png" }
  .column.small.sm
    %a{ href: "https://github.com/davet1985", target: "_blank" }
      %img{ src: "images/github.png" }
  .column.small.sm
    %a{ href: "mailto:davethompson21@gmail.com" }
      %img{ src: "images/email.png" }