extends layout
block content
  .row.main.home.section(id='home')
    .small-12.columns
      .row
        .small-12.columns.intro
          img.profile(src='images/profile.jpg')
        .small-12.columns.intro
          span.strap-line Full-stack software developer
      .row
        .small-8.small-offset-2.columns.social-icons
          ul.small-block-grid-3.large-block-grid-5
            li
              a(href='https://twitter.com/davethompson85', target='_blank')
                img(src='images/twitter.png')
            li
              a(href='http://blog.dave-thompson.co.uk', target='_blank')
                img(src='images/blog.png')
            li
              a(href='https://www.linkedin.com/in/davethompson85', target='_blank')
                img(src='images/linkedin.png')
            li
              a(href='https://github.com/davet1985', target='_blank')
                img(src='images/github.png')
            li
              a(href='mailto:davethompson21@gmail.com', target='_blank')
                img(src='images/email.png')
