doctype html
html
  head
    title Dave Thompson - Full-stack software developer #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/app.js', type='text/javascript')
  body
    .fixed.tall(id='top-nav')
      nav.top-bar(data-topbar='', role='navigation')
        ul.title-area
          li.name
            h1
              a(href='/') Dave Thompson
        section.top-bar-section
          ul.right
            li
              a.blog(href='/blog') blog
    block content
