/* colors */
$bg-color: #DDDDDD;
$base-color: #669999;
$lighter: #CFE4E4;
$light: #9BC2C2;
$dark: #428181;
$darker: #226666;


/* layout */
$body-padding: 20px;
$rounded-corner-size: 2px;
$medium-col-width: 300px;
$small-col-width: 180px;

/* fonts */
$header-font-size: 60px;