$dark1: #2c3e50;
$white: whitesmoke;
$main1: #18bc9c;

$font-xlarge: 30px;
$font-large: 25px;
$font-medium: 20px;
$font-small: 15px;

$topbar-height: 95px;
$topbar-margin: 25px;
$topbar-height-short: 50px;
$topbar-margin-short: 4px;

body {
  background-color: $main1;
}

.main {
  padding-top: $topbar-height + 20px;
}

.row {
  max-width: 86rem;
}

#top-nav {
  background-color: $dark1;
  h1 a {
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .top-bar {
    background-color: $dark1;
    .top-bar-section {
      .right {
        margin-right: 10px;
        li {
          a {
            background-color: $dark1;
            font-weight: bold;
            font-size: 20px;
            &.active {
              color: $main1;
            }
          }
          a:hover {
            color: $main1;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.tall {
    h1 a {
      margin-top: $topbar-margin;
    }
    .top-bar {
      height: $topbar-height;
      .title-area {
        height: $topbar-height;
      }
      .top-bar-section .right {
        margin-top: $topbar-margin;
      }
    }
  }
  &.short {
    h1 a {
      margin-top: $topbar-margin-short;
    }
    .top-bar {
      height: $topbar-height-short;
      .top-bar-section .right {
        margin-top: $topbar-margin-short;
      }
    }
  }
}

.section {
  padding-bottom: 50px;
  &.home {
    color: $white;
    background-color: $main1;
    .intro {
      text-align: center;
      margin-top: 20px;
      .profile {
        width: 250px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid $white;
      }
      .strap-line {
        font-size: $font-xlarge;
      }
    }
    .social-icons {
      background-color: $white;
      padding: 50px 50px 25px 50px;
      margin-top: 40px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }
  &.blog {
    margin-top: 20px;
    color: $white;
    .blog-title {
      color: $white;
      margin-bottom: 0;
    }
    .blog-sub-title {
      font-style: italic;
      color: #DDD;
      font-size: $font-small;
      margin-top: -2px;
    }
    .blog-body {
      margin-top: 20px;
    }
    .blog-archive {
      .title {
        font-size: $font-large;
        font-weight: bold;
      }
      .year {
        font-size: $font-medium;
        font-weight: bold;
      }
      ul {
        list-style-type: none;
        margin-left: 0;
        li a {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}

